article {
   width:80vw;
    text-align :left; 
    align-self: center;
  }
.bigTitle{
  font-size: 4rem;
}
.normalTitle{
  font-size:2.5rem;
}
code{ 
  background-color: aquamarine;
}
body > footer{
  margin-top: 3vh;
}


